* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(225deg, #B31317 0%, #EA1D22 100%);
}

.logo-spiderman {
  fill: transparent;
  animation: logo-spiderman 12s ease infinite alternate;
}

@keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
    fill: transparent;
  }
  60%, 100% {
    stroke-width: 0;
    fill: #F4F7FB;
  }
}