body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.binoculars {
  width: 100px;
  height: 100px;
  position: relative;
  will-change: transform;
}
.bino--lensBack {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 22%;
  height: 22%;
  border-radius: 50%;
  background: #ffb142;
  transition: all 0.3s ease-in-out;
}
.bino--lensBack:nth-child(2) {
  left: 55%;
}
.bino--body {
  position: absolute;
  top: 30%;
  left: 5%;
  transform-origin: center;
  transform: skew(-20deg);
  width: 60%;
  height: 40%;
  border-radius: 10px 0 0 5px;
  background: linear-gradient(#8cd0ee, #34ace0);
  transition: all 0.3s ease-in-out;
}
.bino--body:nth-child(2n) {
  left: 35%;
  transform: skew(20deg);
  border-radius: 0 10px 5px 0;
}
.bino--mid {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: #ffb142;
  transition: all 0.3s ease-in-out;
}
.bino--lens {
  position: absolute;
  top: 50%;
  left: -2%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background: linear-gradient(-45deg, #60bee7, #34ace0);
  transition: all 0.3s ease-in-out;
}
.bino--lens:nth-child(2n) {
  left: 62%;
}
.bino--lens__lens {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: #a7e3e9;
  overflow: hidden;
}
.lens-ref {
  position: absolute;
  transform: rotate(30deg) translate(-160%, -20%);
  width: 30%;
  height: 150%;
  background: #dff9fb;
}
.ref1 {
  transition: all 0.3s ease-out 0.3s;
}
.ref2 {
  transition: all 0.3s ease-out 0.25s;
}
.binoculars:hover .bino--body {
  transform: skew(-20deg) scaley(0.5);
}
.binoculars:hover .bino--body:nth-child(2n) {
  transform: skew(20deg) scaley(0.5);
}
.binoculars:hover .bino--lens {
  top: 35%;
}
.binoculars:hover .bino--mid {
  top: 45%;
}
.binoculars:hover .bino--lensBack {
  top: 35%;
}
.binoculars:hover .lens-ref {
  transform: rotate(30deg) translate(300%, -30%);
}